body {
  margin-top: 50px;
}
.contents {
  margin: 0 auto;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App {
position: relative;
background: rgba(155,250,206,1);
background: -moz-linear-gradient(top, rgba(155,250,206,1) 0%, rgba(155,250,206,1) 15%, rgba(232,240,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(155,250,206,1)), color-stop(15%, rgba(155,250,206,1)), color-stop(100%, rgba(232,240,238,1)));
background: -webkit-linear-gradient(top, rgba(155,250,206,1) 0%, rgba(155,250,206,1) 15%, rgba(232,240,238,1) 100%);
background: -o-linear-gradient(top, rgba(155,250,206,1) 0%, rgba(155,250,206,1) 15%, rgba(232,240,238,1) 100%);
background: -ms-linear-gradient(top, rgba(155,250,206,1) 0%, rgba(155,250,206,1) 15%, rgba(232,240,238,1) 100%);
background: linear-gradient(to bottom, rgba(155,250,206,1) 0%, rgba(155,250,206,1) 15%, rgba(232,240,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bface', endColorstr='#e8f0ee', GradientType=0 );
}
