@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Condensed');
*{
  font-family: 'Roboto Condensed', sans-serif;
}
h1 {

    font-family: 'Lora', serif;

}
body {
  margin-top: 50px;
}
.contents {
  margin: 0 auto;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1 {


      font-family: 'Lora', serif;

}
