.content{
	padding: 10px 0;
}
.gr {
	width: 100%;
	padding: 0;
}
.show-grid {
	width: 100%;
	margin: 0;
}
.grand-parent {
	padding: 5px;
}
.parent {
	padding: 0;
	height: 300px;
  overflow: hidden;
  position: relative;
	cursor: pointer;
  display: flex;
	border-radius: 3px;
	box-shadow:         0 0 3px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	-webkit-box-shadow: 0 0 3px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 0 3px 2px #ccc;  /* Firefox 3.5 - 3.6 */
}
.container {
	width: 99%;
}
.child {
	width: 100%;
	background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
	transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
}
.parent:hover .child, .parent:focus .child {
  -ms-transform: 		scale(1.02);
  -moz-transform: 	scale(1.02);
  -webkit-transform: 	scale(1.02);
  -o-transform: 		scale(1.02);
  transform: 			scale(1.02);
}
.btn-toolbar {
	margin: 0;
}
.col-xs-3 {
	padding: 0;
}
.col-xs-3 .dropdown {
	width: 100%;
}
.dropdown .dropdown-toggle {
	width: 100%;

}
.child:before {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.op {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3px;
	margin-left: auto;
	margin-right: auto;
  width: 90%;
 	align-self: flex-end;
}
.op span {
	opacity: 1;
 	color: white;
  font-family: 'Lora', serif;
 	font-size: 28px;
	padding-left: 20px;
}
.op {
	width: 100%;
	text-align: left;
	text-decoration: none;
}
.op div #span-right {
	margin-left: 0;
	position: absolute;
	right: 0;
}
.dropdown-menu {
	padding: 0;
	margin: 0;
}
#search .btn-toolbar .col-xs-3 .btn-group .dropdownItem {
	width: 100%;
	padding: 0 auto;
	margin: 0;
}
#subBtn {
	width: 55px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
}
#tag-bar {
	box-sizing: border-box;
	width: 100%;
	word-break: break-all;
}
#tag-bar span {
	padding: 4px;
	margin: 0 2px;
	font-size: 20px;
}
.tag {
	padding: 0 3px;
}
#fo {
	width: 100%;
}
#fg {
	width: 92%;

}
#fc {
	width: 100%;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 0px;
}
#search {
	max-width: 800px;
	margin: 0 auto;
	padding: 0;
	-webkit-box-shadow: 0px 5px 4px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 5px 4px 2px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 5px 4px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
div div div ul.dropdown-menu {
	width: inherit;
}
div div div ul.dropdown-menu div {
	width: 100%;
}
#btnGrp{
	height: 20px;
	width: 100%;
}
#leftBtn {
	border-bottom-left-radius: 0px;
}
#rightBtn {
	border-bottom-right-radius: 0px;
}
#addon{
	padding: 0;
	border: none;
	margin: 0;
	width: 52px;
}
#span-right {
	border-radius: 4px;
	padding: 4px 8px;
	font-size: 20px;
	background-color: #1B5E20;
	color: #2ecc71;
	opacity: 0.7;
	font-family: 'Roboto Condensed', sans-serif;
}
.btn-toolbar .col-xs-3 .btns {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.child {
	background-color: #FFFF;
}
