.MyProfile {
  padding: 30px;

}

.profilePic {

}

.profilePic img {
  width: 130px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #999;
}

.aboutUser {
  text-align: left;
}

.aboutUser h2 {
  border-bottom: 3px solid #ddd;
  padding: 10px;
  color: #555;
}