.MyProfile {
  padding: 30px;

}

.profilePic {

}

.profilePic img {
  width: 130px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #999;
}

.aboutUser {
  text-align: left;
}

.aboutUser h2 {
  color: #555;
}

form {
  text-align: left;
}

.myRecipes {
  text-align: left;
  margin-top: 50px;
}

.editButton {
  margin-right: 10px;
}

.recipeName {
  font-size: 1.2em;
  margin-bottom: -10px;
}

.glyphicon-pencil {
  color: #2ECC71;
}

.editButton:hover {
  border-color: #2ECC71;
}
