#mainContainer {
	padding: 10px 0;
}
#submitCol {
	padding-left: 5px;
}
#noListStyle {
	list-style-type: none;
	padding: 0;
}
#noListStyle li div{
	margin: 0;
}
.container {
	width: 100%;
}
.noPadding {
	padding: 0;
}
.fillWidth {
	width: 100%;
}
textarea {
    resize: none;
}
#tagSpace {
		margin: 3px;
		border-radius: 0px;
}
.ing {
	padding: 4px 15px ;
}
.ing div {
	font-size: 16px;
}
.error-row {
	padding: 0 15px;
}
