#mainContainer {
	padding: 10px 0;
	width: 100%;
}
#mainContainer {
	margin: 0 auto;
	max-width: 1400px;
}
#glyph-space {
	padding-left: 20px;
}
#mainContainer .container {
	margin: 0;
	padding: 0;
	width: 100%;
}
#title-div {
	width: 100%;
}
#like-btn:focus {
	outline: none;
}
#save-btn:focus {
	outline: none;
}
.modal-header {
	background-color: #27ae60;
	color:white;
}
.modal-footer {
	background-color: #27ae60;
	color: white;
}
.modal-body h1 {
	font-family: 'comic-sans';
	margin: 0 auto;
	text-align:center;
	color: #27ae60;
}
.modal-body p {
	margin: 0 auto;
	text-align: center;
}
.jumbotron {
	margin: 0;
}
.jumbotron p span {
	padding: 0 5px;
}
.jumbotron span+small {
	padding-right: 10px;
}
.pad {
	margin: 0 20px;
}
.no-wrap {
	white-space: nowrap;
}
.gl {
	padding: 10px;
}
.show-grid {
	background-color: #eee;
}
.lists {
	-ms-text-align-last: left;
	text-align-last: left;
}
.itemInList {
	text-align: justify;
}
.itemInList p {
	margin: 2px;
}
.tag-label {
	margin: 5px;
	font-size: 20px;
}
#show-tags span {
	display: inline-block;
}
#no-text-decoration {
	text-decoration: none;
}
#modal .modal-dialog {
	width: 90%;
}
#modalBody .carousel .carousel-control {
	background-image: none;
}
#modal {
	width: 100%;
}
#modalBody {
	height: 330px;
}
#pic {
	background: #FFF;
	border: none;
	color: #000;
	display: block;
	font: initial;
	letter-spacing: normal;
	line-height: normal;
	padding: 0;
	width: 100%;
	margin: 0 auto;
	max-height: 450px;
	object-fit: cover;
}
.btn-success {
	background-color: #2ecc71;
}
#ovenmitt-style {
	height: 32px;
	padding-bottom: 6px;
	margin-left: 3px;
}
#glyph-heart {
	height: 32px;
	margin-left: 3px;
	color: red;
}
#save-btn {
	font-size: 20px;
}
/* TODO */
#ingrs {
}
#ingredients-list  {
}
#steps {
}
#steps-list {

}

.showIngrs-div-modal {
	margin-left: 10px;

}

#ingredients-list-modal {
	text-align-last: left;
	width: 100%;
}
.ingredient {

}
.amount-and-unit {
}
